.app {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 960px;
  display: flex;
}

.sidebar-navigation {
  width: 320px;
  height: 100%;
  margin: 16px;
}

.sidebar-navigation button {
  margin-top: 16px;
  width: 100%;
  background-color: #6772e5;
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 14px 20px 14px 20px;
  font-weight: 600;
  font-size: 14px;
  outline: none;
}

.sidebar-navigation button:hover {
  background-color: #7883e6;
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.nav-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.feed {
  font-size: 36px;
  margin-top: 32px;
}

.category {
  margin-left: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.category-logo img{
  margin-top: 8px;
  height: 24px;
  width: 24px;
}

.category-name {
  margin: 16px;
  font-size: 24px;
  font-weight: 400;
}

.link {
  text-decoration: none;
}


