.app {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 960px;
  display: flex;
}

.sidebar-navigation {
  width: 320px;
  height: 100%;
  margin: 16px;
}

.sidebar-navigation button {
  width: 100%;
  height: 48px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 16px;
}

.sidebar-navigation button:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.nav-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.feed {
  font-size: 36px;
  margin-top: 32px;
}

.category {
  margin: 16px;
  font-size: 24px;
  font-weight: 400;
}


